# PHASE_5_CAPSTONE_PROJECT

# DATA WRANGLING + EDA

### Data source:

The data source consists of over 44 thousand fashion images from Kaggle.

Source link: https://www.kaggle.com/datasets/paramaggarwal/fashion-product-images-dataset

### Target


Leverage a dataset comprising more than 24k images across 10 distinct fashion product types, including t-shirts, shirts, casual shoes, watches, sports shoes, kurtas, handbags, heels, sunglasses, and wallets, for image labeling in customer search.

### 1. Resize all images in 256 x 256

In [13]:
import pandas as pd
import numpy as np
import csv
import json
import glob
import os
import shutil
import random
from sklearn.preprocessing import LabelEncoder
import matplotlib.pyplot as plt

%matplotlib inline

In [19]:
f = '/Users/thaophan/Downloads/fashion-dataset/images copy 2'

In [20]:
os.listdir(f)

['9733.jpg',
 '14147.jpg',
 '52112.jpg',
 '6400.jpg',
 '34297.jpg',
 '24084.jpg',
 '12536.jpg',
 '54563.jpg',
 '15259.jpg',
 '35189.jpg',
 '44770.jpg',
 '4217.jpg',
 '47279.jpg',
 '36480.jpg',
 '16750.jpg',
 '50705.jpg',
 '26693.jpg',
 '37946.jpg',
 '3578.jpg',
 '40516.jpg',
 '10321.jpg',
 '16988.jpg',
 '59047.jpg',
 '2666.jpg',
 '41608.jpg',
 '46167.jpg',
 '5109.jpg',
 '46601.jpg',
 '11981.jpg',
 '20584.jpg',
 '17328.jpg',
 '49532.jpg',
 '10447.jpg',
 '56412.jpg',
 '59721.jpg',
 '30797.jpg',
 '2100.jpg',
 '11759.jpg',
 '40270.jpg',
 '19305.jpg',
 '4571.jpg',
 '16036.jpg',
 '22393.jpg',
 '44016.jpg',
 '7078.jpg',
 '32180.jpg',
 '43779.jpg',
 '9055.jpg',
 '14621.jpg',
 '45308.jpg',
 '6366.jpg',
 '44002.jpg',
 '32194.jpg',
 '12244.jpg',
 '52660.jpg',
 '23099.jpg',
 '14635.jpg',
 '9041.jpg',
 '6372.jpg',
 '11995.jpg',
 '46615.jpg',
 '49526.jpg',
 '20590.jpg',
 '51369.jpg',
 '56406.jpg',
 '10453.jpg',
 '2114.jpg',
 '30783.jpg',
 '59735.jpg',
 '57718.jpg',
 '40264.jpg',
 '4565.jpg',
 '19311.jpg',
 '16022.jpg',
 '48638.jpg',
 '36494.jpg',
 '4203.jpg',
 '19477.jpg',
 '50711.jpg',
 '16744.jpg',
 '28872.jpg',
 '37952.jpg',
 '26687.jpg',
 '40502.jpg',
 '56360.jpg',
 '10335.jpg',
 '2672.jpg',
 '59053.jpg',
 '18769.jpg',
 '49240.jpg',
 '52106.jpg',
 '34283.jpg',
 '6414.jpg',
 '24090.jpg',
 '23927.jpg',
 '54577.jpg',
 '12522.jpg',
 '8439.jpg',
 '44764.jpg',
 '2882.jpg',
 '50739.jpg',
 '47245.jpg',
 '3544.jpg',
 '57056.jpg',
 '18999.jpg',
 '11003.jpg',
 '39957.jpg',
 '56348.jpg',
 '51427.jpg',
 '49268.jpg',
 '38491.jpg',
 '5135.jpg',
 '18741.jpg',
 '26877.jpg',
 '32802.jpg',
 '55641.jpg',
 '44994.jpg',
 '43023.jpg',
 '7722.jpg',
 '55899.jpg',
 '15265.jpg',
 '8411.jpg',
 '24906.jpg',
 '7044.jpg',
 '53556.jpg',
 '15503.jpg',
 '8377.jpg',
 '43745.jpg',
 '52890.jpg',
 '55127.jpg',
 '13172.jpg',
 '45334.jpg',
 '9069.jpg',
 '52648.jpg',
 '51341.jpg',
 '17314.jpg',
 '18027.jpg',
 '41152.jpg',
 '57730.jpg',
 '11765.jpg',
 '48610.jpg',
 '19339.jpg',
 '47523.jpg',
 '17300.jpg',
 '51355.jpg',
 '18033.jpg',
 '46629.jpg',
 '5647.jpg',
 '2128.jpg',
 '59709.jpg',
 '3236.jpg',
 '40258.jpg',
 '11771.jpg',
 '57724.jpg',
 '48604.jpg',
 '4559.jpg',
 '47537.jpg',
 '24912.jpg',
 '15517.jpg',
 '53542.jpg',
 '12278.jpg',
 '52884.jpg',
 '43751.jpg',
 '13166.jpg',
 '55133.jpg',
 '45320.jpg',
 '14609.jpg',
 '6428.jpg',
 '32816.jpg',
 '44980.jpg',
 '55655.jpg',
 '42329.jpg',
 '43037.jpg',
 '44758.jpg',
 '7736.jpg',
 '8405.jpg',
 '15271.jpg',
 '16778.jpg',
 '48162.jpg',
 '47251.jpg',
 '3550.jpg',
 '11017.jpg',
 '57042.jpg',
 '41620.jpg',
 '28696.jpg',
 '39943.jpg',
 '10309.jpg',
 '38485.jpg',
 '17466.jpg',
 '51433.jpg',
 '26863.jpg',
 '18755.jpg',
 '5121.jpg',
 '59084.jpg',
 '26888.jpg',
 '20221.jpg',
 '36443.jpg',
 '16793.jpg',
 '39770.jpg',
 '48189.jpg',
 '26650.jpg',
 '18966.jpg',
 '29563.jpg',
 '32625.jpg',
 '25359.jpg',
 '13833.jpg',
 '55866.jpg',
 '23728.jpg',
 '24047.jpg',
 '7905.jpg',
 '24721.jpg',
 '43962.jpg',
 '9096.jpg',
 '34532.jpg',
 '8388.jpg',
 '22350.jpg',
 '32143.jpg',
 '5874.jpg',
 '26136.jpg',
 '36325.jpg',
 '21659.jpg',
 '39016.jpg',
 '11942.jpg',
 '57917.jpg',
 '38308.jpg',
 '20547.jpg',
 '27228.jpg',
 '10484.jpg',
 '30754.jpg',
 '21881.jpg',
 '48837.jpg',
 '26122.jpg',
 '5860.jpg',
 '29211.jpg',
 '36331.jpg',
 '39002.jpg',
 '11956.jpg',
 '10490.jpg',
 '48823.jpg',
 '21895.jpg',
 '30740.jpg',
 '33249.jpg',
 '24735.jpg',
 '13199.jpg',
 '9082.jpg',
 '34526.jpg',
 '22344.jpg',
 '32157.jpg',
 '12287.jpg',
 '32631.jpg',
 '55872.jpg',
 '13827.jpg',
 '7911.jpg',
 '24053.jpg',
 '59090.jpg',
 '37749.jpg',
 '20235.jpg',
 '17499.jpg',
 '36457.jpg',
 '39764.jpg',
 '16787.jpg',
 '2869.jpg',
 '26644.jpg',
 '31338.jpg',
 '25365.jpg',
 '32619.jpg',
 '9914.jpg',
 '35176.jpg',
 '34268.jpg',
 '23714.jpg',
 '44957.jpg',
 '7939.jpg',
 '33507.jpg',
 '2699.jpg',
 '39994.jpg',
 '28641.jpg',
 '27572.jpg',
 '38452.jpg',
 '18782.jpg',
 '37761.jpg',
 '46198.jpg',
 '2841.jpg',
 '21103.jpg',
 '28899.jpg',
 '47286.jpg',
 '3587.jpg',
 '31310.jpg',
 '57095.jpg',
 '29239.jpg',
 '31476.jpg',
 '46826.jpg',
 '5848.jpg',
 '21665.jpg',
 '59906.jpg',
 '36319.jpg',
 '38334.jpg',
 '51382.jpg',
 '5690.jpg',
 '30768.jpg',
 '28127.jpg',
 '27214.jpg',
 '6399.jpg',
 '23072.jpg',
 '7087.jpg',
 '53595.jpg',
 '25403.jpg',
 '43786.jpg',
 '14806.jpg',
 '24709.jpg',
 '7093.jpg',
 '22378.jpg',
 '53581.jpg',
 '25417.jpg',
 '14812.jpg',
 '52847.jpg',
 '43792.jpg',
 '31462.jpg',
 '59912.jpg',
 '21671.jpg',
 '51396.jpg',
 '38320.jpg',
 '5684.jpg',
 '28133.jpg',
 '28655.jpg',
 '39980.jpg',
 '50936.jpg',
 '27566.jpg',
 '20209.jpg',
 '38446.jpg',
 '37775.jpg',
 '18796.jpg',
 '39758.jpg',
 '21117.jpg',
 '2855.jpg',
 '19488.jpg',
 '47292.jpg',
 '31304.jpg',
 '3593.jpg',
 '57081.jpg',
 '26678.jpg',
 '25371.jpg',
 '54588.jpg',
 '9900.jpg',
 '35162.jpg',
 '44943.jpg',
 '33513.jpg',
 '25826.jpg',
 '6164.jpg',
 '52476.jpg',
 '9257.jpg',
 '55319.jpg',
 '42665.jpg',
 '54007.jpg',
 '12052.jpg',
 '32382.jpg',
 '44214.jpg',
 '8149.jpg',
 '53768.jpg',
 '22191.jpg',
 '21498.jpg',
 '16234.jpg',
 '19107.jpg',
 '4773.jpg',
 '30595.jpg',
 '2302.jpg',
 '59523.jpg',
 '56610.jpg',
 '10645.jpg',
 '49730.jpg',
 '20786.jpg',
 '31853.jpg',
 '46403.jpg',
 '18219.jpg',
 '49056.jpg',
 '51619.jpg',
 '46365.jpg',
 '59245.jpg',
 '56176.jpg',
 '17894.jpg',
 '26491.jpg',
 '57268.jpg',
 '50507.jpg',
 '48348.jpg',
 '16552.jpg',
 '19661.jpg',
 '4015.jpg',
 '27957.jpg',
 '44572.jpg',
 '33922.jpg',
 '25198.jpg',
 '12734.jpg',
 '24286.jpg',
 '42103.jpg',
 '6602.jpg',
 '34095.jpg',
 '52310.jpg',
 '9531.jpg',
 '14345.jpg',
 '44566.jpg',
 '7508.jpg',
 '33936.jpg',
 '12720.jpg',
 '43209.jpg',
 '24292.jpg',
 '42117.jpg',
 '34081.jpg',
 '6616.jpg',
 '14351.jpg',
 '9525.jpg',
 '52304.jpg',
 '17658.jpg',
 '37588.jpg',
 '59251.jpg',
 '10137.jpg',
 '56162.jpg',
 '17880.jpg',
 '38863.jpg',
 '26485.jpg',
 '11229.jpg',
 '16546.jpg',
 '50513.jpg',
 '27943.jpg',
 '36696.jpg',
 '4001.jpg',
 '19675.jpg',
 '16220.jpg',
 '4767.jpg',
 '19113.jpg',
 '40066.jpg',
 '58629.jpg',
 '59537.jpg',
 '2316.jpg',
 '41378.jpg',
 '30581.jpg',
 '56604.jpg',
 '31847.jpg',
 '20792.jpg',
 '46417.jpg',
 '5479.jpg',
 '6170.jpg',
 '25832.jpg',
 '14437.jpg',
 '9243.jpg',
 '52462.jpg',
 '13358.jpg',
 '33088.jpg',
 '42671.jpg',
 '12046.jpg',
 '32396.jpg',
 '44200.jpg',
 '15729.jpg',
 '48412.jpg',
 '16208.jpg',
 '11567.jpg',
 '57532.jpg',
 '3020.jpg',
 '20962.jpg',
 '4997.jpg',
 '41350.jpg',
 '5451.jpg',
 '18225.jpg',
 '17116.jpg',
 '51143.jpg',
 '45136.jpg',
 '6158.jpg',
 '1637.jpg',
 '42659.jpg',
 '13370.jpg',
 '55325.jpg',
 '43547.jpg',
 '34917.jpg',
 '15701.jpg',
 '8175.jpg',
 '53754.jpg',
 '42881.jpg',
 '44228.jpg',
 '7246.jpg',
 '15067.jpg',
 '8613.jpg',
 '53032.jpg',
 '7520.jpg',
 '43221.jpg',
 '45888.jpg',
 '12708.jpg',
 '22813.jpg',
 '13416.jpg',
 '55443.jpg',
 '14379.jpg',
 '45650.jpg',
 '54985.jpg',
 '46359.jpg',
 '18543.jpg',
 '29946.jpg',
 '17670.jpg',
 '51625.jpg',
 '19885.jpg',
 '41436.jpg',
 '28480.jpg',
 '59279.jpg',
 '57254.jpg',
 '58167.jpg',
 '3746.jpg',
 '4029.jpg',
 '47047.jpg',
 '48374.jpg',
 '18557.jpg',
 '51631.jpg',
 '38687.jpg',
 '17664.jpg',
 '19891.jpg',
 '57240.jpg',
 '11215.jpg',
 '3752.jpg',
 '58173.jpg',
 '47053.jpg',
 '19649.jpg',
 '48360.jpg',
 '39599.jpg',
 '53026.jpg',
 '8607.jpg',
 '15073.jpg',
 '7534.jpg',
 '43235.jpg',
 '22807.jpg',
 '55457.jpg',
 '13402.jpg',
 '9519.jpg',
 '52338.jpg',
 '54991.jpg',
 '45644.jpg',
 '45122.jpg',
 '1623.jpg',
 '55331.jpg',
 '13364.jpg',
 '43553.jpg',
 '34903.jpg',
 '42895.jpg',
 '53740.jpg',
 '8161.jpg',
 '15715.jpg',
 '7252.jpg',
 '48406.jpg',
 '57526.jpg',
 '11573.jpg',
 '20976.jpg',
 '58615.jpg',
 '56638.jpg',
 '4983.jpg',
 '18231.jpg',
 '5445.jpg',
 '51157.jpg',
 '49718.jpg',
 '17102.jpg',
 '28319.jpg',
 '30556.jpg',
 '4968.jpg',
 '31890.jpg',
 '37239.jpg',
 '39214.jpg',
 '36127.jpg',
 '31648.jpg',
 '29007.jpg',
 '26334.jpg',
 '11598.jpg',
 '12091.jpg',
 '32341.jpg',
 '22152.jpg',
 '1810.jpg',
 '34730.jpg',
 '24523.jpg',
 '15926.jpg',
 '33739.jpg',
 '8834.jpg',
 '34056.jpg',
 '14386.jpg',
 '22634.jpg',
 '15098.jpg',
 '45877.jpg',
 '6819.jpg',
 '32427.jpg',
 '51802.jpg',
 '17857.jpg',
 '29761.jpg',
 '26452.jpg',
 '39572.jpg',
 '27994.jpg',
 '3961.jpg',
 '20023.jpg',
 '49095.jpg',
 '59286.jpg',
 '36899.jpg',
 '17843.jpg',
 '51816.jpg',
 '26446.jpg',
 '21329.jpg',
 '39566.jpg',
 '27980.jpg',
 '36655.jpg',
 '38678.jpg',
 '49081.jpg',
 '20037.jpg',
 '3975.jpg',
 '59292.jpg',
 '27758.jpg',
 '24251.jpg',
 '8820.jpg',
 '34042.jpg',
 '14392.jpg',
 '22620.jpg',
 '45863.jpg',
 '32433.jpg',
 '25629.jpg',
 '12085.jpg',
 '32355.jpg',
 '1804.jpg',
 '22146.jpg',
 '23258.jpg',
 '24537.jpg',
 '30542.jpg',
 '10692.jpg',
 '58832.jpg',
 '31884.jpg',
 '39200.jpg',
 '36133.jpg',
 '26320.jpg',
 '43584.jpg',
 '25601.jpg',
 '53797.jpg',
 '42842.jpg',
 '35412.jpg',
 '7285.jpg',
 '23270.jpg',
 '52489.jpg',
 '33063.jpg',
 '4954.jpg',
 '27016.jpg',
 '28325.jpg',
 '41393.jpg',
 '37205.jpg',
 '5492.jpg',
 '51180.jpg',
 '20779.jpg',
 '38136.jpg',
 '10862.jpg',
 '39228.jpg',
 '21467.jpg',
 '26308.jpg',
 '49917.jpg',
 '57297.jpg',
 '3785.jpg',
 '31112.jpg',
 '47084.jpg',
 '18580.jpg',
 '37563.jpg',
 '40933.jpg',
 '29985.jpg',
 '38650.jpg',
 '56189.jpg',
 '27770.jpg',
 '19846.jpg',
 '33705.jpg',
 '8808.jpg',
 '55480.jpg',
 '23516.jpg',
 '12913.jpg',
 '45693.jpg',
 '54946.jpg',
 '22608.jpg',
 '25167.jpg',
 '6825.jpg',
 '33711.jpg',
 '55494.jpg',
 '23502.jpg',
 '45687.jpg',
 '12907.jpg',
 '35360.jpg',
 '6831.jpg',
 '25173.jpg',
 '57283.jpg',
 '29749.jpg',
 '31106.jpg',
 '3791.jpg',
 '36669.jpg',
 '47090.jpg',
 '21315.jpg',
 '37577.jpg',
 '18594.jpg',
 '38644.jpg',
 '3949.jpg',
 '40927.jpg',
 '19852.jpg',
 '27764.jpg',
 '28457.jpg',
 '27002.jpg',
 '4940.jpg',
 '41387.jpg',
 '28331.jpg',
 '5486.jpg',
 '38122.jpg',
 '51194.jpg',
 '4798.jpg',
 '10876.jpg',
 '49903.jpg',
 '31660.jpg',
 '40099.jpg',
 '43590.jpg',
 '32369.jpg',
 '25615.jpg',
 '42856.jpg',
 '53783.jpg',
 '7291.jpg',
 '35406.jpg',
 '23264.jpg',
 '33077.jpg',
 '15649.jpg',
 '12126.jpg',
 '54173.jpg',
 '13238.jpg',
 '15891.jpg',
 '6010.jpg',
 '25952.jpg',
 '14557.jpg',
 '9323.jpg',
 '52502.jpg',
 '31927.jpg',
 '58991.jpg',
 '46577.jpg',
 '5519.jpg',
 '59457.jpg',
 '2276.jpg',
 '10731.jpg',
 '3168.jpg',
 '40106.jpg',
 '26283.jpg',
 '16340.jpg',
 '50315.jpg',
 '36090.jpg',
 '4607.jpg',
 '47669.jpg',
 '19073.jpg',
 '16426.jpg',
 '50473.jpg',
 '4161.jpg',
 '19715.jpg',
 '31099.jpg',
 '40660.jpg',
 '11349.jpg',
 '2510.jpg',
 '10057.jpg',
 '56002.jpg',
 '20194.jpg',
 '49122.jpg',
 '17738.jpg',
 '45718.jpg',
 '6776.jpg',
 '9445.jpg',
 '42077.jpg',
 '8983.jpg',
 '12640.jpg',
 '54615.jpg',
 '43369.jpg',
 '32590.jpg',
 '44406.jpg',
 '7468.jpg',
 '22783.jpg',
 '33856.jpg',
 '6762.jpg',
 '23489.jpg',
 '9451.jpg',
 '8997.jpg',
 '42063.jpg',
 '54601.jpg',
 '12654.jpg',
 '32584.jpg',
 '44412.jpg',
 '22797.jpg',
 '50467.jpg',
 '48228.jpg',
 '16432.jpg',
 '19701.jpg',
 '4175.jpg',
 '27837.jpg',
 '40674.jpg',
 '57308.jpg',
 '2504.jpg',
 '56016.jpg',
 '10043.jpg',
 '49136.jpg',
 '51779.jpg',
 '20180.jpg',
 '46205.jpg',
 '49650.jpg',
 '58985.jpg',
 '31933.jpg',
 '46563.jpg',
 '2262.jpg',
 '59443.jpg',
 '56770.jpg',
 '27189.jpg',
 '10725.jpg',
 '49888.jpg',
 '40112.jpg',
 '26297.jpg',
 '16354.jpg',
 '19067.jpg',
 '4613.jpg',
 '36084.jpg',
 '53608.jpg',
 '54167.jpg',
 '12132.jpg',
 '24480.jpg',
 '15885.jpg',
 '42705.jpg',
 '25946.jpg',
 '6004.jpg',
 '34693.jpg',
 '52516.jpg',
 '9337.jpg',
 '14543.jpg',
 '5525.jpg',
 '51037.jpg',
 '49678.jpg',
 '17062.jpg',
 '28292.jpg',
 '57446.jpg',
 '11413.jpg',
 '20816.jpg',
 '3154.jpg',
 '47655.jpg',
 '56980.jpg',
 '48566.jpg',
 '50329.jpg',
 '53620.jpg',
 '15675.jpg',
 '7332.jpg',
 '34863.jpg',
 '55251.jpg',
 '13204.jpg',
 '45042.jpg',
 '9479.jpg',
 '45724.jpg',
 '55537.jpg',
 '13562.jpg',
 '43355.jpg',
 '54629.jpg',
 '53146.jpg',
 '15113.jpg',
 '7454.jpg',
 '47133.jpg',
 '48200.jpg',
 '57320.jpg',
 '11375.jpg',
 '3632.jpg',
 '58013.jpg',
 '36912.jpg',
 '18437.jpg',
 '5243.jpg',
 '51751.jpg',
 '17704.jpg',
 '4149.jpg',
 '47127.jpg',
 '48214.jpg',
 '11361.jpg',
 '57334.jpg',
 '58007.jpg',
 '3626.jpg',
 '40648.jpg',
 '36906.jpg',
 '46239.jpg',
 '5257.jpg',
 '29826.jpg',
 '17710.jpg',
 '13576.jpg',
 '55523.jpg',
 '43341.jpg',
 '6986.jpg',
 '12668.jpg',
 '15107.jpg',
 '8773.jpg',
 '53152.jpg',
 '7440.jpg',
 '53634.jpg',
 '44348.jpg',
 '7326.jpg',
 '34877.jpg',
 '1757.jpg',
 '13210.jpg',
 '55245.jpg',
 '6038.jpg',
 '5531.jpg',
 '18345.jpg',
 '17076.jpg',
 '51023.jpg',
 '10719.jpg',
 '28286.jpg',
 '11407.jpg',
 '3140.jpg',
 '20802.jpg',
 '56994.jpg',
 '47641.jpg',
 '48572.jpg',
 '16368.jpg',
 '29173.jpg',
 '26240.jpg',
 '48599.jpg',
 '39360.jpg',
 '16383.jpg',
 '36053.jpg',
 '58952.jpg',
 '49687.jpg',
 '20631.jpg',
 '24457.jpg',
 '15852.jpg',
 '53807.jpg',
 '34644.jpg',
 '25991.jpg',
 '23338.jpg',
 '1964.jpg',
 '22026.jpg',
 '25749.jpg',
 '32235.jpg',
 '45903.jpg',
 '12683.jpg',
 '32553.jpg',
 '8798.jpg',
 '22740.jpg',
 '33895.jpg',
 '34122.jpg',
 '9486.jpg',
 '24331.jpg',
 '8940.jpg',
 '22998.jpg',
 '30344.jpg',
 '20157.jpg',
 '3815.jpg',
 '21249.jpg',
 '36735.jpg',
 '17923.jpg',
 '51976.jpg',
 '26526.jpg',
 '30350.jpg',
 '10080.jpg',
 '20143.jpg',
 '39412.jpg',
 '36721.jpg',
 '17937.jpg',
 '26532.jpg',
 '12697.jpg',
 '45917.jpg',
 '6979.jpg',
 '32547.jpg',
 '33881.jpg',
 '22754.jpg',
 '34136.jpg',
 '9492.jpg',
 '24325.jpg',
 '33659.jpg',
 '8954.jpg',
 '24443.jpg',
 '53813.jpg',
 '15846.jpg',
 '25985.jpg',
 '34650.jpg',
 '14580.jpg',
 '22032.jpg',
 '34888.jpg',
 '32221.jpg',
 '31728.jpg',
 '29167.jpg',
 '26254.jpg',
 '16397.jpg',
 '39374.jpg',
 '36047.jpg',
 '20625.jpg',
 '49693.jpg',
 '17089.jpg',
 '58946.jpg',
 '28279.jpg',
 '4808.jpg',
 '33117.jpg',
 '55292.jpg',
 '23304.jpg',
 '42936.jpg',
 '35566.jpg',
 '32209.jpg',
 '25775.jpg',
 '49863.jpg',
 '31700.jpg',
 '3197.jpg',
 '56943.jpg',
 '46588.jpg',
 '18392.jpg',
 '38042.jpg',
 '2289.jpg',
 '28251.jpg',
 '19932.jpg',
 '27604.jpg',
 '28537.jpg',
 '5280.jpg',
 '37417.jpg',
 ...]

In [21]:
for file in os.listdir(f):
    f_img = f+"/"+file
    img = Image.open(f_img)
    img = img.resize((256,256))
    img.save(f_img)

### 2. Extract all image information from json files:

Extracting the relevant product attributes from the JSON data source associated with the images.

In [23]:
for file in os.listdir(f64):
    f64_img = f64+"/"+file
    img = Image.open(f64_img)
    img = img.resize((64,64))
    img.save(f64_img)

In [11]:
attributes = pd.DataFrame(columns = ['id','brand','gender','year','season','color','usage','division','productgroup','producttype','variantname','productdisplayname'])
json_files = glob.glob('/Users/thaophan/Downloads/json-all/*.json') 
for file_path in json_files:
    with open (file_path,'r') as f:
        json_data = json.load(f)
        
        id_info = json_data['data']['id']
        brand_info = json_data['data']['brandName']
        gender_info = json_data['data']['gender']
        year_info = json_data['data']['year']
        season_info = json_data['data']['season']
        color_info = json_data['data']['baseColour']
        usage_info = json_data['data']['usage']
        division_info = json_data['data']['masterCategory']['typeName']
        productgroup_info = json_data['data']['subCategory']['typeName']
        producttype_info = json_data['data']['articleType']['typeName']
        variantname_info = json_data['data']['variantName']
        productDisplayName_info = json_data['data']['productDisplayName']
#     df = df.append({'id': id_info,'brand': brand_info,'gender':gender_info,'year':year_info ,'season':season_info,'color':color_info,'usage':usage_info,'division':division_info,'productgroup':productgroup_info,'producttype': producttype_info,'variantname':variantname_info,'productDisplayName':productDisplayName_info})
        data = {'id': [id_info],
        'brand': [brand_info],
        'gender': [gender_info],
        'year': [year_info],
        'season': [season_info],
        'color': [color_info],
        'usage': [usage_info],
        'division': [division_info],
        'productgroup': [productgroup_info],
        'producttype': [producttype_info],
        'variantname': [variantname_info],
        'productdisplayname': [productDisplayName_info]}

        attributes = pd.concat([attributes, pd.DataFrame(data)], ignore_index=True)

In [24]:
attributes

,id,brand,gender,year,season,color,usage,division,productgroup,producttype,variantname,productdisplayname
0,57896,Femella,Women,2012,Summer,Off White,Casual,Apparel,Bottomwear,Shorts,Summer Pleated Short,Femella Women Off White Shorts
1,37297,CASIO,Men,2016,Winter,Black,Casual,Accessories,Watches,Watches,CASIO,Casio Enticer Men Black Analogue Watches (A504...
2,3721,Lee,Men,2011,Summer,Black,Casual,Accessories,Belts,Belts,Lee mens black canvas belt,Lee Men Black Canvas Belt
3,51041,Enamor,Women,2017,Summer,White,Casual,Apparel,Innerwear,Briefs,DRESSUP02,Enamor Women Ivory Coloured Briefs
4,2833,Lee Cooper,Men,2012,Summer,Black,Casual,Footwear,Shoes,Casual Shoes,Lee cooper black Casual Leather shoes Darknight,Lee Cooper Men's Casual Leather Darknight Blac...
...,...,...,...,...,...,...,...,...,...,...,...,...
44441,35401,Stens by Enroute,Men,2012,Summer,Brown,Casual,Footwear,Shoes,Casual Shoes,Casual Shoe,Stens by Enroute Men Brown Shoes
44442,48131,Fossil,Women,2012,Summer,Pink,Casual,Accessories,Bags,Handbags,CONVERTIBLE MINI BERRY,Fossil Women Pink Bags
44443,7960,Puma,Men,2011,Fall,Green,Sports,Apparel,Topwear,Tshirts,Large Logo Graphic Tee,Puma Men's Large Logo Graphic Green T-shirt
44444,54112,Rocia,Women,2012,Winter,Black,Casual,Footwear,Shoes,Flats,ROCIA BEIGE Sandal,Rocia Women Black Flats
44445,29422,GIORDANO,Men,2016,Winter,Gold,Formal,Accessories,Watches,Watches,Casual,Giordano Men Gold & Black Dial Watch

 Save the file for future import into Google Colab

In [25]:
attributes.to_csv('product_attributes')

### 3. Split images into classes and train, test, validation folders.

In [28]:
attributes

,Unnamed: 0,id,brand,gender,year,season,color,usage,division,productgroup,producttype,variantname,productdisplayname
0,0,57896,Femella,Women,2012.0,Summer,Off White,Casual,Apparel,Bottomwear,Shorts,Summer Pleated Short,Femella Women Off White Shorts
1,1,37297,CASIO,Men,2016.0,Winter,Black,Casual,Accessories,Watches,Watches,CASIO,Casio Enticer Men Black Analogue Watches (A504...
2,2,3721,Lee,Men,2011.0,Summer,Black,Casual,Accessories,Belts,Belts,Lee mens black canvas belt,Lee Men Black Canvas Belt
3,3,51041,Enamor,Women,2017.0,Summer,White,Casual,Apparel,Innerwear,Briefs,DRESSUP02,Enamor Women Ivory Coloured Briefs
4,4,2833,Lee Cooper,Men,2012.0,Summer,Black,Casual,Footwear,Shoes,Casual Shoes,Lee cooper black Casual Leather shoes Darknight,Lee Cooper Men's Casual Leather Darknight Blac...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
44441,44441,35401,Stens by Enroute,Men,2012.0,Summer,Brown,Casual,Footwear,Shoes,Casual Shoes,Casual Shoe,Stens by Enroute Men Brown Shoes
44442,44442,48131,Fossil,Women,2012.0,Summer,Pink,Casual,Accessories,Bags,Handbags,CONVERTIBLE MINI BERRY,Fossil Women Pink Bags
44443,44443,7960,Puma,Men,2011.0,Fall,Green,Sports,Apparel,Topwear,Tshirts,Large Logo Graphic Tee,Puma Men's Large Logo Graphic Green T-shirt
44444,44444,54112,Rocia,Women,2012.0,Winter,Black,Casual,Footwear,Shoes,Flats,ROCIA BEIGE Sandal,Rocia Women Black Flats
44445,44445,29422,GIORDANO,Men,2016.0,Winter,Gold,Formal,Accessories,Watches,Watches,Casual,Giordano Men Gold & Black Dial Watch

There are 7 divisions of products.

In [29]:
attributes.division.value_counts()

division
Apparel           21400
Accessories       11289
Footwear           9222
Personal Care      2404
Free Items          105
Sporting Goods       25
Home                  1
Name: count, dtype: int64

Among the 143 product types available, our focus will be on the top 10 for label classification purposes.

In [30]:
producttype_counts = attributes.producttype.value_counts()
producttype_counts_df = producttype_counts.reset_index()
producttype_counts_df.columns = ['producttype', 'count']
producttype_counts_df

             producttype  count
0                Tshirts   7070
1                 Shirts   3217
2           Casual Shoes   2846
3                Watches   2542
4           Sports Shoes   2036
..                   ...    ...
138                 Ipad      1
139                Suits      1
140    Mens Grooming Kit      1
141           Shoe Laces      1
142  Body Wash and Scrub      1

[143 rows x 2 columns]

In [31]:
producttype_counts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 143 entries, 0 to 142
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   producttype  143 non-null    object
 1   count        143 non-null    int64
dtypes: int64(1), object(1)
memory usage: 2.4+ KB

Taking all the product types which have from 930 images.

In [32]:
producttype_counts_df[producttype_counts_df['count'] >=930]

     producttype  count
0        Tshirts   7070
1         Shirts   3217
2   Casual Shoes   2846
3        Watches   2542
4   Sports Shoes   2036
5         Kurtas   1844
6           Tops   1762
7       Handbags   1759
8          Heels   1323
9     Sunglasses   1073
10       Wallets    936

We will exclude the "Tops" product type from this classification task as it can be easily misunderstood, given that Tshirts and Shirts can be considered a part of "Tops" category.

In [33]:
class_list = producttype_counts_df[producttype_counts_df['count'] >=930].drop(index=6)
class_list

     producttype  count
0        Tshirts   7070
1         Shirts   3217
2   Casual Shoes   2846
3        Watches   2542
4   Sports Shoes   2036
5         Kurtas   1844
7       Handbags   1759
8          Heels   1323
9     Sunglasses   1073
10       Wallets    936

From here, we will focus on doing label classification on top 10 product types.

Use numerical labels for each product type to classify 10 product types into 0 to 10.

In [35]:
class_list['Class'] = class_list['producttype'].map({'Tshirts':1,'Shirts':2,'Casual Shoes':3,'Watches':4,'Sports Shoes':5,'Kurtas':6,'Handbags':7,'Heels':8,'Sunglasses':9,'Wallets':10})

In [36]:
class_list

     producttype  count  Class
0        Tshirts   7070      1
1         Shirts   3217      2
2   Casual Shoes   2846      3
3        Watches   2542      4
4   Sports Shoes   2036      5
5         Kurtas   1844      6
7       Handbags   1759      7
8          Heels   1323      8
9     Sunglasses   1073      9
10       Wallets    936     10

In [37]:
class_list.producttype.unique

<bound method Series.unique of 0          Tshirts
1           Shirts
2     Casual Shoes
3          Watches
4     Sports Shoes
5           Kurtas
7         Handbags
8            Heels
9       Sunglasses
10         Wallets
Name: producttype, dtype: object>

Select all the images id that belong to top 10 observed product types.

In [38]:
class_df = attributes[attributes['producttype'].isin(list(class_list.producttype.unique()))][['id','producttype']]
class_df

          id   producttype
1      37297       Watches
4       2833  Casual Shoes
5      29289        Shirts
6      49888       Watches
7      23684       Wallets
...      ...           ...
44440  19094        Kurtas
44441  35401  Casual Shoes
44442  48131      Handbags
44443   7960       Tshirts
44445  29422       Watches

[24646 rows x 2 columns]

For further use, generate a new column by appending the suffix ".jpg" to the image id.

In [39]:
class_df.loc[:,'image_id'] = class_df['id'].astype(str) + ".jpg"
class_df

          id   producttype   image_id
1      37297       Watches  37297.jpg
4       2833  Casual Shoes   2833.jpg
5      29289        Shirts  29289.jpg
6      49888       Watches  49888.jpg
7      23684       Wallets  23684.jpg
...      ...           ...        ...
44440  19094        Kurtas  19094.jpg
44441  35401  Casual Shoes  35401.jpg
44442  48131      Handbags  48131.jpg
44443   7960       Tshirts   7960.jpg
44445  29422       Watches  29422.jpg

[24646 rows x 3 columns]

Generate ten lists, each containing ten different product types, along with their respective image_id.

In [40]:
class_0_tshirt_list = list(class_df[(class_df['producttype']=="Tshirts")]['image_id'])
class_1_shirt_list = list(class_df[(class_df['producttype']=="Shirts")]['image_id'])
class_2_casualshoes_list = list(class_df[(class_df['producttype']=="Casual Shoes")]['image_id'])
class_3_watches_list = list(class_df[(class_df['producttype']=="Watches")]['image_id'])
class_4_sportsshoes_list = list(class_df[(class_df['producttype']=="Sports Shoes")]['image_id'])
class_5_kurtas_list = list(class_df[(class_df['producttype']=="Kurtas")]['image_id'])
class_6_handbags_list = list(class_df[(class_df['producttype']=="Handbags")]['image_id'])
class_7_heels_list = list(class_df[(class_df['producttype']=="Heels")]['image_id'])
class_8_sunglasses_list = list(class_df[(class_df['producttype']=="Sunglasses")]['image_id'])
class_9_wallets_list = list(class_df[(class_df['producttype']=="Wallets")]['image_id'])

Create a list that contains all lists above.

In [41]:
class_list_all = [class_0_tshirt_list,
                  class_1_shirt_list,
                  class_2_casualshoes_list,
                  class_3_watches_list,
                  class_4_sportsshoes_list,
                  class_5_kurtas_list,
                  class_6_handbags_list,
                  class_7_heels_list,
                  class_8_sunglasses_list,
                  class_9_wallets_list]

Create 10 paths of 10 different class folders.

In [42]:
class_folder_all =['/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_0',
                  '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_1',
                  '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_2',
                   '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_3',
                   '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_4',
                   '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_5',
                   '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_6',
                   '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_7',
                   '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_8',
                   '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_9',
]

Allocate images to each classes:

In [43]:
def move_images_class_folder(image_name_list, source_folder, destination_folder):
    # Create the destination folder if it does not exist:
    if not os.path.exists(destination_folder):
        os.makedirs(destination_folder)

    # Get the full paths of all images in the image list:
    image_files = [os.path.join(source_folder, image_name) for image_name in image_name_list]

    for image_file in image_files:
        print(f"Attempting to move: {image_file}")
        if os.path.exists(image_file):
            # Move the image file to the destination folder:
            shutil.copy(image_file, os.path.join(destination_folder, os.path.basename(image_file)))
        else:
            print(f"Image not found: {os.path.basename(image_file)}")

In [ ]:
# if __name__ == '__main__':
#     class_list_all = [class_0_tshirt_list, class_1_shirt_list, class_2_casualshoes_list,
#                       class_3_watches_list, class_4_sportsshoes_list, class_5_kurtas_list,
#                       class_6_handbags_list, class_7_heels_list, class_8_sunglasses_list,
#                       class_9_wallets_list]

#     class_folder_all = ['/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_0',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_1',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_2',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_3',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_4',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_5',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_6',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_7',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_8',
#                         '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/Class_9']

#     source_image_folder = '/Users/thaophan/Documents/Flatiron/Phase5_Project/images256x256'

#     for i, class_list in enumerate(class_list_all):
#         class_folder = class_folder_all[i]

#         print(f"Source Image Folder: {source_image_folder}")
#         print(f"Class {i} List: {class_list}")
#         print(f"Class {i} Folder: {class_folder}")
        
#         move_images_class_folder(class_list, source_image_folder, class_folder)

Count the images in each class:

In [ ]:
def count_images_in_folder(folder_path, image_extensions=['.jpg', '.jpeg', '.png']):
    count = 0
    for file_name in os.listdir(folder_path):
        if os.path.splitext(file_name)[1].lower() in image_extensions:
            count += 1
    return count

if __name__ == '__main__':
    class_list_all = [class_0_tshirt_list, class_1_shirt_list, class_2_casualshoes_list,
                      class_3_watches_list, class_4_sportsshoes_list, class_5_kurtas_list,
                      class_6_handbags_list, class_7_heels_list, class_8_sunglasses_list,
                      class_9_wallets_list]

    class_folder_all = ['/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/0',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/1',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/2',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/3',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/4',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/5',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/6',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/7',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/8',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/9']

    source_image_folder = '/Users/thaophan/Documents/Flatiron/Phase5_Project/images256x256'

    for i, class_list in enumerate(class_list_all):
        class_folder = class_folder_all[i]

        print(f"Class {i} Folder: {class_folder}")
        num_images = count_images_in_folder(class_folder)
        print(f"Number of Images: {num_images}")

Create 3 folders for modeling

In [44]:
# Folder paths for Train, Test, and Validation
train_folder = "/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train"
test_folder = "/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test"
val_folder = "/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation"

In [ ]:
# # List of class folder paths
# class_folder_all = [
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/0',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/1',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/2',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/3',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/4',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/5',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/6',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/7',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/8',
#     '/Users/thaophan/Documents/Flatiron/Phase5_Project/Class/9',
# ]

# # Folder paths for Train, Test, and Validation
# train_folder = "/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train"
# test_folder = "/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test"
# val_folder = "/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation"

# # Create the folder structure
# if not os.path.exists(train_folder):
#     os.makedirs(train_folder)
# if not os.path.exists(test_folder):
#     os.makedirs(test_folder)
# if not os.path.exists(val_folder):
#     os.makedirs(val_folder)

# # Ratio of data split
# train_ratio = 0.6
# test_ratio = 0.2
# val_ratio = 0.2

# # Loop through each class folder
# for class_folder in class_folder_all:
#     # Get the list of images in the current class folder
#     image_list = os.listdir(class_folder)

#     # Shuffle the list of images
#     random.shuffle(image_list)

#     # Calculate the split points based on the ratios
#     train_split = int(len(image_list) * train_ratio)
#     test_split = train_split + int(len(image_list) * test_ratio)

#     # Split the image list into Train, Test, and Validation
#     train_data = image_list[:train_split]
#     test_data = image_list[train_split:test_split]
#     val_data = image_list[test_split:]

#     # Function to move images to their corresponding folder
#     def move_images(image_list, src_folder, dest_folder):
#         for image_name in image_list:
#             src_path = os.path.join(src_folder, image_name)
#             dest_path = os.path.join(dest_folder, image_name)
#             shutil.copy(src_path, dest_path)

#     # Move images to their corresponding folders
#     class_name = os.path.basename(class_folder)
#     train_class_folder = os.path.join(train_folder, class_name)
#     test_class_folder = os.path.join(test_folder, class_name)
#     val_class_folder = os.path.join(val_folder, class_name)

#     if not os.path.exists(train_class_folder):
#         os.makedirs(train_class_folder)
#     if not os.path.exists(test_class_folder):
#         os.makedirs(test_class_folder)
#     if not os.path.exists(val_class_folder):
#         os.makedirs(val_class_folder)

#     move_images(train_data, class_folder, train_class_folder)
#     move_images(test_data, class_folder, test_class_folder)
#     move_images(val_data, class_folder, val_class_folder)

Count images in each folder and classes

In [ ]:
def count_images_in_folder(folder_path, image_extensions=['.jpg', '.jpeg', '.png']):
    count = 0
    for file_name in os.listdir(folder_path):
        if os.path.splitext(file_name)[1].lower() in image_extensions:
            count += 1
    return count

if __name__ == '__main__':


    class_folder_all = ['/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/0',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/1',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/2',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/3',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/4',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/5',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/6',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/7',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/8',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Train/9',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/0',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/1',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/2',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/3',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/4',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/5',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/6',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/7',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/8',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Test/9',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/0',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/1',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/2',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/3',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/4',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/5',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/6',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/7',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/8',
                        '/Users/thaophan/Documents/Flatiron/Phase5_Project/Train_Test_Validation/Validation/9'
                        ]


    for i in range (0,30):
        class_folder = class_folder_all[i]

        print(f"Class {i} Folder: {class_folder}")
        num_images = count_images_in_folder(class_folder)
        print(f"Number of Images: {num_images}")